@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;1,500&family=Cabin:wght@700&family=Ubuntu:ital,wght@0,300;0,500;1,300;1,500&display=swap');

html, body{
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
   
}

#header {
    /*Colocar ele fixo no lado esquerdo*/
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    /*Cores e dinamico*/ 
    background: #021124;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#header .profile img{
    /*Alterando o formato da imagem*/
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
    border-radius: 50%;
}


#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    color: #fff;
}

#header .profile .social-links a{
    font-size: 1rem;
    background: #212431;
    color: #fff;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

#header .profile .social-links a:hover {
    background: #149ddd;
}

.nav-menu{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    transition: 0.3s;
    font-size: 15px;
}


/*cores sem o mouse ser passado*/
.nav-menu a i,
.nav-menu a:focus i{
    font-size: 24px;
    padding-right: 0.8rem;
    color: #6f7180;
}

/*Acender o texto assim que passa o mouse*/
.nav-menu a:hover, 
.nav-menu .active, 
.nav-menu .active:focus, 
.nav-menu
li:hover > a{
    text-decoration: none;
    color: #fff;
}


/*Acender o icone assim que passa o mouse*/
.nav-menu a:hover i, 
.nav-menu .active i, 
.nav-menu .active:focus i,
.nav-menu li:hover> a i {
    text-decoration: none;
    color: #149ddd;
} 

#main{
    margin-left: 300px;
}


/*visualização da imagem gif*/
section#inicio {
    background-image: url("./img/pixel-jeff-matrix-s.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height:100vh;   
}

section#inicio h2{
    font-size: 4.8rem;
}

section#inicio span#subtitle{
    margin-right: 8rem;
    font-size: 1.5rem;
}

.text-shadown {
    text-shadow: 4px 4px 10px #000000;
}

section#inicio div#arraste {
    width: 9rem;
}

section#inicio div#arraste a {
    text-decoration: none;
    color: #fff;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

/*O Hamburguer responsivo*/
i.menu-mobile {
    position: fixed;
    color: fff;
    background-color: #252c90;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none; 
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px){
    #header {
        left: -300px;
    }

    i.menu-mobile{
        display: flex;
    }
    section#inicio h2{
        font-size: 3.5rem ;
    }

    section#inicio span#subtitle{
        margin-right: 0;
        font-size: 1.3rem;
    }
    #main{
        margin-left: 0;
    }
} 





/*Scroll*/
*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #252c90;
}

.section-bg{
    background-color: #eff5ff;
}

/*Seção Curriculo*/

.cv .cv-title{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.cv .cv-item{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.cv .cv-item h4{
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}

.cv .cv-item h5 {
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 600;
    margin-bottom: 10px;
}

.cv .cv-item::before{
    content: "";
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    left: -9px;
    border: 2px solid #1f5297;
    background: #fff;
    border-radius: 50%;
}

/*Portifólio*/

.carousel-indicators{
    display: none;
}



.carousel-control-prev{
    height: 50px;
     border: 2px solid #1f5297;
     display: flex;
     align-items: center; 
    margin-top:30%;
}
.carousel-control-next{
    height: 50px;
    border: 2px solid #1f5297;
    display: flex;
    align-items: center; 
    margin-top:30%;
}


.carousel-control-next:hover{
    height: 50px;
    border: 2px solid #1f5;
    background: #fff;
    display: flex;
    align-items: center; 
   
}

.carousel-control-prev:hover{
    height: 50px;
    border: 2px solid #1f5;
    background: #fff;
    display: flex;
    align-items: center; 
}

.certificado{
    margin-bottom: 100px;
    
}

footer{
    margin-top: 40px;
    
}

/*carrousel certificado*/
.carousel-control-prev{
    height: 50px;
     border: 2px solid #1f5297;
     display: flex;
     align-items: center; 
    margin-top:30%;
}
.carousel-control-next{
    height: 50px;
    border: 2px solid #1f5297;
    display: flex;
    align-items: center; 
    margin-top:30%;
}


.carousel-control-next:hover{
    height: 50px;
    border: 2px solid #1f5;
    background: #2c2f3f;
    display: flex;
    align-items: center; 
   
}

.carousel-control-prev:hover{
    height: 50px;
    border: 2px solid #1f5;
    background: #2c2f3f;
    display: flex;
    align-items: center; 
}


/* tamanho sessão certificado */


.imagemC{
    width: 800px; height: 511px;
}

@media (max-width: 1024px){
    .imagemC{
        width: 266px; height: 169px;
    }
}